# fichier config, parametre les valeurs, contient tout les valeur, ne contient jamais de valeur secrete !!! 

#"valeur à ajouter : chemin pour system.sh "


SSH_PORT="22"

LOG_FILE="/var/log/hardening.log"

ALLOWED_SSH_USERS="student alison"

SSH_PERMIT_ROOT_LOGIN="no"

ALLOW_HTTP="true"
ALLOW_HTTPS="true"
PASS_MIN_LEN="12"
PASS_MAX_DAYS="90"
FAIL_LOCK_ATTEMPTS="5"
FIREWALL_RULES="/etc/hardening/firewall.rules"
SYSCTL_FILE="/etc/sysctl.conf"
PWQUALITY_FILE="/etc/security/pwquality.conf"
LOGIN_DEFS="/etc/login.defs"
FAILLOCK_FILE="/etc/security/faillock.conf"
